###########################################################################
#                            TextMate Snippets                            #
###########################################################################

priority -50

snippet ml "vim modeline"
# vim: set ts=4 sw=4 expandtab :
endsnippet

# vim:ft=snippets:
