priority -40

###########################################################################
#                            TextMate Snippets                            #
###########################################################################
snippet ml "vim modeline"
/* vim: set ts=4 sw=4 sts=4 expandtab ffs=unix,dos : */
endsnippet

# vim:ft=snippets ffs=unix :
