*.swp
last_check
bundles/
octave-workspace
colourschemes.log
.last_check
cargo
stow/gnupg/.gnupg/private-keys-v1.d/
stow/gnupg/.gnupg/pubring.kbx
stow/gnupg/.gnupg/pubring.kbx~
stow/gnupg/.gnupg/sshcontrol
stow/gnupg/.gnupg/trustdb.gpg
stow/wireshark/.config/wireshark/recent
stow/wireshark/.config/wireshark/recent_common
stow/wireshark/.config/wireshark/preferences
stow/neovim/.config/nvim/.netrwhist
.nvimlog
stow/neovim/.config/nvim/nvim_lsp/jdtls/
