[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule "gdb-dashboard"]
	path = gdb-dashboard
	url = https://github.com/cyrus-and/gdb-dashboard.git
[submodule "dotfiles-secret"]
	path = dotfiles-secret
	url = https://github.com/kheaactua/dotfiles-secret.git
[submodule "modulefiles/ford"]
	path = modulefiles/ford
	url = git@github.ford.com:MRUSS100/modulefiles.git
[dotfiles-secret]
	master = master
[modulefiles "ford"]
	master = master
