[user]
	name = Matthew Russell
	email = matthew.g.russell@gmail.com
	signingkey = DF94887FB3F0726EE0606F2EDE8210182994327F
[includeIf "gitdir:~/workspace/capi/**/"]
	path = ~/dotfiles/gitconfig.ford.inc
[includeIf "gitdir:~/workspace/ford/**/"]
	path = ~/dotfiles/gitconfig.ford.inc
[includeIf "gitdir:/src/**/"]
	path = ~/dotfiles/gitconfig.ford.inc
[includeIf "gitdir:/opt/phoenix/*"]
	path = ~/dotfiles/gitconfig.ford.inc
[includeIf "gitdir:/opt/**/"]
	path = ~/dotfiles/gitconfig.ford.inc
[url "https://gist.github.com"]
	insteadOf = ssh://gist.github.com
[url "https://github.com"]
	insteadOf = ssh://github.com
[commit]
        gpgsign = true
[core]
	quotepath = false
	commitGraph = true
	commentchar = @
	excludesfile = ~/dotfiles/gitignore
[gc]
	writeCommitGraph = true
[merge]
	tool = vimdiff
[credential]
	helper = cache --timeout=720000
[color]
	ui = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	default = current
[pull]
	rebase = true
[fetch]
	prune = true
[rebase]
	autoStash = true

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features = decorations
    side-by-side = true

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax

[diff]
    colorMoved = default
