[user]
	name = Matthew Russell
	email = matthew.g.russell@gmail.com
	signingkey = A52DF6BD043AA61DF91F96A6EA845CAEEDBDDC72
[includeIf "gitdir:~/workspace/capi/**/"]
	path = ~/dotfiles/gitconfig.ford.inc
[includeIf "gitdir:~/workspace/ford/**/"]
	path = ~/dotfiles/gitconfig.ford.inc
[includeIf "gitdir:/src/**/"]
	path = ~/dotfiles/gitconfig.ford.inc
[includeIf "gitdir:/f/**/*"]
	path = ~/dotfiles/gitconfig.ford.inc
[includeIf "gitdir:/f/**/"]
	path = ~/dotfiles/gitconfig.ford.inc
[url "https://gist.github.com"]
	insteadOf = ssh://gist.github.com
[url "https://github.com"]
	insteadOf = ssh://github.com
[commit]
  gpgsign = true
[core]
	quotepath = false
	commitGraph = true
	commentchar = @
	excludesfile = ~/dotfiles/gitignore
[gc]
	writeCommitGraph = true
[merge]
	tool = vimdiff
[credential]
	helper = cache --timeout=720000
[color]
	ui = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	default = current
[pull]
	rebase = true
[fetch]
	prune = true
[rebase]
	autoStash = true
	autoSquash = true

[include]
	path = ~/dotfiles/delta/themes.gitconfig

[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta

[interactive]
	diffFilter = delta --color-only --features=interactive

[delta]
	; features = decorations
	; features = collared-trogon
	; features = tangara-chilensis
	features = woolly-mammoth
	; features = calochortus-lyallii
	; side-by-side = true
	; commit-decoration-style = ol "#1136ff"

[delta "interactive"]
	keep-plus-minus-markers = false

[delta "decorations"]
	commit-decoration-style = blue ol
	commit-style = raw
	file-style = omit
	hunk-header-decoration-style = blue box
	hunk-header-file-style = red
	hunk-header-line-number-style = "#067a00"
	hunk-header-style = file line-number syntax

[diff]
	colorMoved = default

[uploadpack]
	allowFilter = true

[init]
	defaultBranch = main

; vim: ts=2 sw=2 sts=0 noet :
