[user]
	name = John M Daly
	email = jmdaly@gmail.com

[includeIf "gitdir:~/workspaces/"]
	path = ~/dotfiles/gitconfig/gitconfig.ouster.inc

[merge]
	tool = vimdiff
	conflictstyle = diff3

[color]
	ui = auto

[credential]
	helper = cache --timeout=28800

[push]
	default = simple

[core]
	excludesfile = ~/dotfiles/gitconfig/gitignore
	pager = delta

[pull]
	rebase = true

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true  # use n and N to move between diff sections

[diff]
    colorMoved = default

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
