Xft.dpi: 220

! urxvt config
URxvt.scrollBar: false
! This font info can be found from the command fc-list:
URxvt.font:     xft:Hack:style=Regular:size=11:antialias=true
URxvt.boldFont: xft:Hack:style=Bold:size=11:antialias=true

! rofi
rofi.modi: run,ssh
rofi.font: System San Francisco Display 15
rofi.width: 60
rofi.lines: 5
rofi.columns: 1
rofi.opacity: 80
rofi.hide-scrollbar: true
! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #282828, #282828, #ebdbb2
rofi.color-normal: #282828, #ebdbb2, #282828, #ebdbb2, #282828
rofi.color-active: #ebdbb2, #458588, #ebdbb2, #458588, #ebdbb2
rofi.color-urgent: #282828, #cc241d, #282828, #cc241d, #ebdbb2

rofi.bw: 0
rofi.location: 0
rofi.padding: 100
rofi.fuzzy: false
rofi.terminal: st
rofi.separator-style: none

! Copyright (c) 2016-present Arctic Ice Studio <development@arcticicestudio.com>
! Copyright (c) 2016-present Sven Greb <code@svengreb.de>

! Project:    Nord XResources
! Version:    0.1.0
! Repository: https://github.com/arcticicestudio/nord-xresources
! License:    MIT

#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.foreground:   nord4
*.background:   nord0
*.cursorColor:  nord4
*fading: 35
*fadeColor: nord3

*.color0: nord1
*.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6
