! urxvt config
URxvt.scrollBar: false
! This font info can be found from the command fc-list:
URxvt.font:     xft:Meslo LG S for Powerline:style=RegularForPowerline:size=11:antialias=true
URxvt.boldFont: xft:Meslo LG S for Powerline:style=RegularForPowerline:bold:size=11:antialias=true

! rofi
rofi.modi: run,ssh
rofi.font: System San Francisco Display 15
rofi.width: 60
rofi.lines: 5
rofi.columns: 1
rofi.opacity: 80
rofi.hide-scrollbar: true
! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #282828, #282828, #ebdbb2
rofi.color-normal: #282828, #ebdbb2, #282828, #ebdbb2, #282828
rofi.color-active: #ebdbb2, #458588, #ebdbb2, #458588, #ebdbb2
rofi.color-urgent: #282828, #cc241d, #282828, #dc322f, #ebdbb2

rofi.bw: 0
rofi.location: 0
rofi.padding: 100
rofi.fuzzy: false
rofi.terminal: st
rofi.separator-style: none

! The following colours come from the morhetz/gruvbox-contrib repo on Github
! and set the terminal up for a gruvbox theme
! -----------------------------------------------------------------------------
! File: gruvbox-dark.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------------------------------
! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2
